.editorconfig
.gitlab-ci.yml
.travis.yml
.git
.gitignore
.env
package-lock.json
secrets.tar.gz.enc
secrets/
variables.sh.enc
build/
frontend
!/frontend/build
backend/config
backend/build
backend/e2e
backend/nodemon-debug.json
backend/nodemon.json
